<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1436.vfa_244484591f">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2214.vb_b_34b_2ea_9b_83"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2214.vb_b_34b_2ea_9b_83">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@332.va_1ee476d8f6d">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.40.0">
          <spec></spec>
        </com.cloudbees.jenkins.GitHubPushTrigger>
        <hudson.triggers.SCMTrigger>
          <spec>H/5 * * * *</spec>
          <ignorePostCommitHooks>false</ignorePostCommitHooks>
        </hudson.triggers.SCMTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@3964.v0767b_4b_a_0b_fa_">
    <script>pipeline {
    agent any
    environment {
        DOCKER_CREDENTIALS_ID = &apos;amruth11&apos; // Replace with your Docker Hub credentials ID
        DOCKER_IMAGE = &apos;amruth11/new_webproject:latest&apos; // Change to your Docker Hub repository
    }
    stages {
        stage(&apos;Clone Repository&apos;) {
            steps {
                git &apos;https://github.com/Amruth-11/new_webproject.git&apos; // Replace with your repo URL
            }
        }
        stage(&apos;Build Docker Image&apos;) {
            steps {
                script {
                    docker.build(DOCKER_IMAGE)
                }
            }
        }
        stage(&apos;Push Docker Image&apos;) {
            steps {
                script {
                    docker.withRegistry(&apos;https://index.docker.io/v1/&apos;, DOCKER_CREDENTIALS_ID) {
                        docker.image(DOCKER_IMAGE).push()
                    }
                }
            }
        }
       stage(&apos;Deploy&apos;) {
            steps {
                script {
                    // Check if the container exists and delete it if it does
                    def existingContainer = bat(script: &quot;docker ps -q -f name=my-app-container&quot;, returnStdout: true).trim()
                    if (existingContainer) {
                        bat &quot;docker stop my-app-container&quot;
                        bat &quot;docker rm my-app-container&quot;
                    }
                    // Run the new container
                    bat &quot;docker run -d --name my-app-container -p 8056:80 new_webproject:latest&quot;
                }
            }
        }
    }
    
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>